.login-art {
  position: relative;
  height: 100%;
  width: calc(100vw - 340px);
}

.login-art .logo {
  position: absolute;
  width: 500px;

  margin-top: 50px;
  margin-left: 70px;
  top: 0;
}

.login-art .ghost {
  position: absolute;
  width: 100px;
  margin-top: 50px;
  margin-left: 750px;
}

.login-art .ufo {
  position: absolute;
  width: 100px;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
}

.login-art .icons {
  position: absolute;
  width: 300px;
  bottom: 0;
  margin-left: 70px;
  margin-bottom: 30px;
}
