.edit-loc-all-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  top: 0;
}

.edit-loc-all-content .top-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: black;
}

.edit-loc-all-content .top-bar span {
  color: white;
  padding-left: 20px;
}
