
body {
    align-items: center;
}

h3 {
    font-size: 27px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}

input {
    border-color: rgb(215, 215, 215);
    border-style: solid;
    border-radius: 4px;
}

.hd-create-content {
    display: inline-block;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    float: right;
}

.btn-create {
    margin-left: 3px;
}