.hds-content {
  display: flex;
  flex-direction: column;
  margin: 0px 70px;
  width: calc(100% - 290px);
  height: 100vh;
  transform: translateX(200px);
}

.btn-crud {
  width: 60px;
  height: 25px;
}

.btn-del {
  margin-left: 2px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-add {
  position: relative;
  right: 20px;
  width: 35px;
  margin-left: auto;
  margin-top: 30px;
  top: 20px;
}
