
h3 {
    font-size: 27px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}

input {
    border-color: rgb(215, 215, 215);
    border-style: solid;
    border-radius: 4px;
    margin-left: 5px;
    padding: 0.5rem;
    font-size: 14px;
}

input::placeholder {
    color: rgb(208, 208, 208)
}

.hd-create-content {
    display: inline-block;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    justify-content: flex-end;
}

.btn-create {
    margin-left: 3px;
}