.hd-job-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.job-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: fit-content;
  margin-left: auto;
}

.job-title {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  top: 14px;
}
