.job-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  flex-wrap: wrap;
}

.job-list-content {
  position: fixed;
  height: calc(100% - 100px);
  top: 0;
  left: 0;
  overflow: auto;
  top: 40px;
}

.job-list-title {
  margin-left: 30px;
}
