.small-btn {
  display: flex;
  width: 12px;
  height: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 2px;
  user-select: none;
}

.small-btn:hover {
  background-color: rgb(200, 200, 200);
}
