.all-hd-list-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: calc(100% - 170px);
  top: 40px;
  margin-left: 30px;
}
.all-hd-panel {
  position: relative;
  top: 10px;
}
.content {
  position: relative;
  display: flex;
  width: 600px;
  height: 300px;
}
